<h1>Insert the form to create a new instance of your model.</h1>
<form method="post" action="/hotwheelers">
  <h3>Name: <input type="text" name="name" required></h3>
  <h3>Username: <input type="text" name="username" required></h3>
  <h3>Age: <input type="text" name="age" required></h3>
  <h3>Password: <input type="password" name="password" required></h3>
  <input type="submit" value="Submit">
</form>
