<h1>This is the show page for an individual instance of your model.</h1>
<h2>Hotwheeler Name: <%= @hotw.name %></h2>
<h2>Hotwheeler Age: <%= @hotw.age %></h2>

<!-- <input type="submit" a href= value="Logout"> -->
<a href="/hotwheelers/<%= @hotw.id %>/edit">Edit</a>
<br
<a href="/cars/<%= @hotw.id %>/edit">Edit</a>
<br>
<a href="/hotwheelers/logout">Logout</a>
