<h1>This is the show page for an individual instance of your model.</h1>
<h2>Hotwheeler Name: <%= @hotw.name %></h2>
<h2>Hotwheeler Age: <%= @hotw.age %></h2>

<!-- <input type="submit" a href= value="Logout"> -->
<div>
  <a href="/hotwheelers">All Cars</a>
  <%if @hotw.id == current_user.id %>
  <p><a href="/cars/new">Add a Car</a></p>
  <p><a href="/hotwheelers/<%= @hotw.id %>/edit">User Edit</a></p>
  <br>
  <br>
  <a href="/logout">Logout</a>
  <% end %>
</div>
