<h1>Insert the form to create a new instance of your model.</h1>
<form method="post" action="/cars">
  <h3>Year: <input type="text" name="year"></h3>
  <h3>Make: <input type="text" name="make"></h3>
  <h3>Model: <input type="text" name="model"></h3>
  <h3>Color: <input type="text" name="color"></h3>
  <h3>Rank: <input type="text" name="rank"></h3>
  <input type="submit" value="Submit">
</form>
