<div class="container">
  <header><img src="images/hotWheel1.jpeg" width="150" height="150" class="img-responsive main-image"><img src="images/hotWheel1.jpeg" width="150" height="150" class="img-responsive main-image"><img src="images/hotWheel1.jpeg" width="150" height="150" class="img-responsive main-image"><img src="images/hotWheel1.jpeg" width="150" height="150" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1><i>Hotwheelers!!!</i></h1>

    <div class="content">
      <h2>Welcome to Hot Wheelers!!</h2>
      <h3>The premier site for cateloging your finest whips!</h3>
    </div>

    <div>
      <h3><a href="/login">"Start Your Engines!!"</a></h3>
    </div>


  </div>
</div>
